processing-strategies/src/main/mule/routes.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:os="http://www.mulesoft.org/schema/mule/os"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/os http://www.mulesoft.org/schema/mule/os/current/mule-os.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
  <http:request-config name="HTTP_Request_configuration" doc:name="HTTP Request configuration" doc:id="eec23879-4fb5-4a0f-9e82-6677f1b3f885" />
  <flow name="routesFlow" doc:id="cfafc21e-5d27-469a-a02c-a3b7b47975a8" >
    <first-successful doc:name="First Successful" doc:id="e8fc481e-eb3b-451f-a959-6295f20c05ab" >
      <route >
        <flow-ref doc:name="Flow Reference" doc:id="15c55f55-f2ba-4b24-bd97-85f31a650518" name="routesFlow1"/>
      </route>
      <route >
        <flow-ref doc:name="Flow Reference" doc:id="5672068f-d064-440a-8b93-67147fa90ea4" />
      </route>
    </first-successful>
  </flow>
  <flow name="routesFlow1" doc:id="fe70bbe6-e7ff-4edd-92f5-72cf2de2a993" >
    <http:request method="GET" doc:name="Request API A" doc:id="99160554-3645-4686-b9d9-1e5fd4b4d6fc" config-ref="HTTP_Request_configuration" />
    <error-handler >
      <on-error-propagate enableNotifications="true" logException="true" doc:name="On Error Propagate" doc:id="4f8d5f30-c979-487f-a77f-5dfaba6d8410" type="ANY">
        <os:store doc:name="Store" doc:id="79a129b2-30cd-4f95-ae8f-88be8ddb373c" />
      </on-error-propagate>
    </error-handler>
  </flow>
  <flow name="routesFlow2" doc:id="d402f5f5-b3c4-49ce-bb1d-4d4fa1abcb68" >
    <os:retrieve doc:name="Retrieve" doc:id="6230e731-a14e-42da-8816-91568116f979" />
    <choice doc:name="Choice" doc:id="3376af1a-61c3-4bd8-b79b-8ab70544d012" >
      <when >
        <http:request method="GET" doc:name="Request" doc:id="20326867-adf8-489b-b8a5-23f2c1dcb5fe" />
      </when>
      <otherwise >
        <http:request method="GET" doc:name="Request" doc:id="1d416b84-21ee-4319-885c-f504c921be3e" />
      </otherwise>
    </choice>
  </flow>
  <flow name="routesFlow3" doc:id="d3b49212-e7a9-4393-b0f5-75e7de3ef320" >
    <round-robin doc:name="Round Robin" doc:id="68f84921-6935-4235-bbfd-c57bf8f32362" >
      <route >
        <http:request method="GET" doc:name="Request region 1" doc:id="3db97011-c2bd-4826-b5c6-34963b8fd2c4" />
      </route>
      <route >
        <http:request method="GET" doc:name="Request region 2" doc:id="4fc9b163-e200-40bf-b6a8-ff9601ee34e8" />
      </route>
    </round-robin>
  </flow>
  <flow name="routesFlow4" doc:id="03220eae-3e02-4aed-b72e-8924e3af8e2e" >
    <scatter-gather doc:name="Scatter-Gather" doc:id="38e82215-0897-41e9-a2b2-c5a63eae1637" timeout="45">
      <route >
        <try doc:name="Try" doc:id="fde17f98-0b59-4dc1-a2b1-81d8357d1d7c" >
          <http:request method="GET" doc:name="Request region 1" doc:id="cda0eecf-b09c-4ba2-9049-9cffb3190a48" />
          <error-handler >
            <on-error-continue enableNotifications="true" logException="true" doc:name="On Error Continue" doc:id="1e80e419-a28a-4ee2-ba9b-b2e4507d024b" />
          </error-handler>
        </try>
      </route>
      <route >
        <try doc:name="Try" doc:id="a11b8f2c-722a-4a85-b4bf-3e67db66803b" >
          <http:request method="GET" doc:name="Request Region 2" doc:id="55184c1d-9dd5-45db-b8ca-6a9b8e59eb8e" />
          <error-handler >
            <on-error-continue enableNotifications="true" logException="true" doc:name="On Error Continue" doc:id="f1be2c19-ff57-4cfe-918f-709bcdb8eec7" />
          </error-handler>
        </try>
      </route>
    </scatter-gather>
    <ee:transform doc:name="Transform Message" doc:id="f3db269c-a7d3-4e2e-8163-b204ea439751" >
      <ee:message >
        <ee:set-payload ><![CDATA[%dw 2.0
output application/java
---
payload..payload]]></ee:set-payload>
      </ee:message>
    </ee:transform>
    <logger level="INFO" doc:name="Logger" doc:id="5d59b1c8-daa2-4b81-b75a-77dd9923514b" />
  </flow>
</mule>
