test-metadata/src/main/mule/test-metadata.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:xml-module="http://www.mulesoft.org/schema/mule/xml-module" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/xml-module http://www.mulesoft.org/schema/mule/xml-module/current/mule-xml-module.xsd">
  <flow name="test-metadataFlow" doc:id="fba9392a-d745-4220-baf2-6fb90b877901" >
    <ee:transform doc:name="Transform Message" doc:id="b3b2c06e-9bbd-4c33-8e15-faa88f413f66" >
      <ee:message >
        <ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
[{
	accountID: payload.airline as Number,
	street: payload.fromAirportCode,
	city: payload.emptySeats as String,
	postal: payload.planeType
}]]]></ee:set-payload>
      </ee:message>
    </ee:transform>
    <xml-module:xslt-transform doc:name="Xslt transform" doc:id="235002a1-4b55-4404-85fd-d988034b7c9a" />
  </flow>
</mule>
