java-invoke-demo/src/main/mule/corelationid-demo.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:aggregators="http://www.mulesoft.org/schema/mule/aggregators" xmlns:json="http://www.mulesoft.org/schema/mule/json"
	xmlns:xml-module="http://www.mulesoft.org/schema/mule/xml-module"
	xmlns:validation="http://www.mulesoft.org/schema/mule/validation" xmlns:os="http://www.mulesoft.org/schema/mule/os" xmlns:db="http://www.mulesoft.org/schema/mule/db" xmlns:scripting="http://www.mulesoft.org/schema/mule/scripting" xmlns:java="http://www.mulesoft.org/schema/mule/java" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/java http://www.mulesoft.org/schema/mule/java/current/mule-java.xsd
http://www.mulesoft.org/schema/mule/scripting http://www.mulesoft.org/schema/mule/scripting/current/mule-scripting.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/os http://www.mulesoft.org/schema/mule/os/current/mule-os.xsd
http://www.mulesoft.org/schema/mule/validation http://www.mulesoft.org/schema/mule/validation/current/mule-validation.xsd
http://www.mulesoft.org/schema/mule/xml-module http://www.mulesoft.org/schema/mule/xml-module/current/mule-xml-module.xsd
http://www.mulesoft.org/schema/mule/json http://www.mulesoft.org/schema/mule/json/current/mule-json.xsd
http://www.mulesoft.org/schema/mule/aggregators http://www.mulesoft.org/schema/mule/aggregators/current/mule-aggregators.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="d1fbb4f5-4b64-4ede-9641-d98a6716a604" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<validation:config name="Validation_Config" doc:name="Validation Config" doc:id="d1dca668-1d6d-4ad1-95f9-e6c59f8cc390" />
  <flow name="corelationid-demoFlow" doc:id="82cc04fa-d086-4636-b232-23997a8e42fa" >
		<http:listener doc:name="get /test" doc:id="8242c6ae-86dc-418c-9c8b-c97c0ec8f9b4" config-ref="HTTP_Listener_config" path="/test"/>
		<set-variable value="#[attributes.queryParams.key default 'NONE']" doc:name="key" doc:id="13370738-9dfd-4554-a931-42158fd8fd09" variableName="key"/>
		<java:new doc:name="New" doc:id="3e5f5951-63a0-42a0-8d84-388003437d0f" class="com.njclabs.training.Test" constructor="Test()"/>
		<java:invoke method="getX()" doc:name="Invoke" doc:id="cba68ed8-a32e-492a-b792-732699a8c680" instance="#[payload]" class="com.njclabs.training.Test"/>
		<set-variable value="#[attributes.queryParams.number default 1000]" doc:name="number" doc:id="3076018b-7afe-4584-a0f0-9ce66f5256b2" variableName="number"/>
		<ee:transform doc:name="Transform Message" doc:id="4b66260f-4258-4e09-b4ee-d56ce00ee113" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="ba892e06-496e-4878-9ecb-73f4321df293" message='#[" " ++ vars.number as String ++ " " ++  vars.key]'/>
    <scripting:execute engine="ECMAScript" doc:name="Execute" doc:id="32e2d390-50f5-469a-a1bc-e02c7f6175a2" />
	</flow>
  <flow name="corelationid-demoFlow1" doc:id="bc31a12d-a2dd-402f-8df1-c288d0d6868b" >
    <set-variable value="100" doc:name="Set Variable" doc:id="2b57bf6b-c704-457a-af50-943c9972ef3f" variableName="x"/>
    <set-payload value="Hello Worlld" doc:name="Set Payload" doc:id="2b4d2183-0181-4564-baea-71bea2153659" />
    <ee:transform doc:name="Transform Message" doc:id="c9b46e4f-619d-40d6-9875-2940e3928761" >
      <ee:message >
      </ee:message>
      <ee:variables >
        <ee:set-variable variableName="dwVariable" ><![CDATA[%dw 2.0
output application/java
---
{
	welcome : "1"
}]]></ee:set-variable>
      </ee:variables>
    </ee:transform>
    <os:retrieve doc:name="Retrieve" doc:id="dd244c1f-15d2-4d3d-b44a-12e4b4dbad8a" target="someKey" key="key">
      <os:default-value ><![CDATA[0]]></os:default-value>
    </os:retrieve>
    <logger level="INFO" doc:name="Logger" doc:id="ffa6da08-7695-48b8-ae21-2a4d693e0ba5" />
  </flow>
  <flow name="corelationid-demoFlow2" doc:id="057f70a3-2624-46a4-a2cf-26cc4e3372a4" >
    <validation:all doc:name="All" doc:id="d358d800-6a8a-4d0c-9e27-2c384c5d64a2" >
      <validation:is-ip doc:name="Is IP" doc:id="e0f81033-4115-45b0-95f1-81e5d13765d8" />
      <validation:is-url doc:name="Is URL" doc:id="802700e9-92e9-41fe-97c6-575ddcd97b1f" />
    </validation:all>
    <validation:any doc:name="Any" doc:id="4b500361-1365-46b6-ab61-a5f143a89c7b" >
      <validation:is-blank-string doc:name="Is blank string" doc:id="2ee944e0-700b-42e7-8b70-6d96d4f7ffc8" />
      <validation:is-elapsed time="0" timeUnit="" doc:name="Is elapsed" doc:id="f47d35a3-4325-4ae1-8566-5b44351e7f39" />
      <validation:is-true doc:name="Is true" doc:id="edca80fc-3ad9-4f4a-9bed-8dc8e2fd7b89" config-ref="Validation_Config" expression="true"/>
    </validation:any>
  </flow>
  <flow name="corelationid-demoFlow3" doc:id="331e52cb-8f4f-47a9-938c-ae301f03d51a" >
    <xml-module:validate-schema doc:name="Validate schema" doc:id="74fb297b-e618-4bad-bd5c-67124ce798ac" />
  </flow>
  <flow name="corelationid-demoFlow4" doc:id="c949635d-786a-4f6d-a295-d76e52da23ca" >
    <json:validate-schema doc:name="Validate schema" doc:id="f5d58f55-499a-4dfd-8551-1b7f1b1833e9" />
  </flow>
  <flow name="corelationid-demoFlow6" doc:id="5e987fa6-4808-49f9-b440-d4fcad592919" >
    <aggregators:group-based-aggregator doc:name="Group based aggregator" doc:id="1412041e-2d43-4e21-bf60-46c132308358" >
      <aggregators:aggregation-complete />
    </aggregators:group-based-aggregator>
  </flow>
  <flow name="corelationid-demoFlow9" doc:id="7eca6598-08bd-4f8f-97e0-ce01b47af799" >
    <aggregators:aggregator-listener doc:name="Aggregator listener" doc:id="8e97e25f-84c1-49a8-9ec6-8d409a4fb409" />
  </flow>
  <flow name="corelationid-demoFlow10" doc:id="0a67deba-1b8c-4e1d-aa4b-2eb1a574926d" >
    <http:listener doc:name="Listener" doc:id="05d0213a-5e5f-439e-a6e9-e63fb6c3c283" config-ref="HTTP_Listener_config"/>
    <http:load-static-resource doc:name="Load static resource" doc:id="9df1bf5b-106f-4378-8fb5-9ef61e09a033" />
  </flow>
  <flow name="corelationid-demoFlow7" doc:id="c0df2cdb-6735-4ac4-958c-79b72f8ad997" >
    <aggregators:size-based-aggregator doc:name="Size based aggregator" doc:id="ff18623e-537b-46f2-a176-3196c9c1364c" >
      <aggregators:aggregation-complete />
    </aggregators:size-based-aggregator>
  </flow>
  <flow name="corelationid-demoFlow8" doc:id="c17cf4c9-f399-466d-8f44-9111e8c9ba21" >
    <aggregators:time-based-aggregator doc:name="Time based aggregator" doc:id="03f67d21-6224-4d50-bb8c-718ff6e24c50" />
  </flow>
  <flow name="corelationid-demoFlow5" doc:id="2528ec20-8cc6-46de-b717-715042ee43b5" >
    <http:request method="GET" doc:name="Request" doc:id="4a555706-3126-46d0-a903-3ed9639bd72a" >
      <http:response-validator >
        <http:success-status-code-validator />
      </http:response-validator>
    </http:request>
  </flow>
</mule>
